<table>
    <tr>
        <td><img src="{{site.baseurl}}/images/logo.png" height="60" title="Home" alt=""></td>
        <td><a href="{{site.baseurl}}/timebox">CSA</a></td>
        <td><a href="{{site.baseurl}}/about">About</a></td>
        <td><a href="{{site.baseurl}}/collaboration/2024/08/26/verify-hacks.html">Verify Hacks</a></td>
        <td><a href="{{site.baseurl}}/2024/08/21/sprint1_plan_IPYNB_2_.html">Verify Tools</a></td>
        <td><a href="{{site.baseurl}}/2024/09/03/planning-doc.html">Plan</a></td>
        <td><a href="{{site.baseurl}}/emojiGame">Emoji Game</a></td>
    </tr>
</table>